In [1]:
!ls

iris.csv  Iris.ipynb  README.md

In [2]:
import pandas as pd

In [7]:
# Load the IrisCsv File.
iris=pd.read_csv("./iris.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
iris.head(n=5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
iris.tail(n=5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [14]:
iris.shape

(150, 5)

In [15]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [16]:
# There are Three type of Species: setosa, versicolor, virginica.
# There are four Columns: sepal_length, sepal_width, petal_length, petal_width
# Now Depending on the Four lengths we have have to determine which species it would be.
# Here we will try to Analyze the Iris DataSet.

print(iris.shape) # So, we have 150 data points and there are 5 Columns.

(150, 5)

In [18]:
# The top 4 Columns has fooat dataType and the last one is a string object.
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [20]:
# All the info about the Iris Dataset.
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:
# Get all the details about each column.
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [27]:
# Unique Species in the IrisDataset.
iris['species'].nunique()

3

In [28]:
# Names of the unique Species.
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [32]:
# Number of setosa flowers.
mask=iris['species'] == 'setosa'
iris[mask].shape # There are 50 setosas in the DataSet.

(50, 5)

In [35]:
# Count the occurence of each unique Species.
iris['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [36]:
iris['sepal_length'].mean()

5.843333333333335

In [37]:
iris['sepal_length'].min()

4.3

In [38]:
iris['sepal_length'].sum()

876.5

In [44]:
# Sort the Iris DataSet by Sepal Length.
# And if there is a tie between sepal_lengths then sort on the basis of sepal_width.
iris.sort_values(by=['sepal_length','sepal_width'])

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]